/* Importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.text-shpere {
    display: flex;
    justify-content: center;
    align-items: center;
    
 
   
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0; 
   font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 1.6rem;
    
}

/* Change color of each text in sphere on hover   */
/* .tagcloud--item {
    color: #efefef;
    
} */
/* 
.tagcloud--item:hover {
    color: #ff6347;
} */